@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Restaurant

@{ 
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>
<div>Id: @Model.Id</div>
<div>Cuisine: @Model.Cuisine</div>
<div>
    <a href="/">Home</a>
    @Html.ActionLink("Home", "Index")
</div>

