@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}
<h1>Welcome!</h1>
@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a asp-action="Create">Create</a>
</div>
